

:root {
    --cor0:#faf8f8;

    --cor1: #ff9900;

    --cor2: #ffd700;

    --cor3: #ffcc00;

    --cor4: rgb(12, 231, 247);

    --cor5: rgb(39, 204, 61);

    --cor6: rgba(0, 0, 0, 0.1);

}

        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-image: url(/img/fundo4.png);
            /* background-color: #ffcc00; */
            padding: 10px;
            text-align: center;
        }

        header img {
            width: 60%;
            max-width: 60%;
            min-width: 40%;
            height: 250px;
        }

        nav {
            background-color: var(--cor1);
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
            font-size: 120%;
        }

        nav ul li a:hover {
            color: var(--cor2);
            padding: 3px;
            font-size: 125%;
            text-decoration: underline;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            width: 80%;
            margin: 0 auto;
            flex-grow: 1;
        }

        .produto {
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 15px;
            padding: 15px;
            text-align: center;
            width: 200px;
            flex-grow: 0;
        }

        .produto img {
            max-width: 100%;
            border-radius: 10px;
        }

        .produto h3 {
            font-size: 18px;
            margin: 10px 0;
        }

        .produto p {
            color: var(--cor5);
            font-weight: bold;
            font-size: 130%;
        }

        footer {
            background-color: var(--cor3);
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            position: relative;
            margin-top: auto;
            font-weight: bold;
        }