body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #ff9900;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.video-container {
    text-align: center;
    margin: 20px 0;
}

.sobre-loja {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.sobre-loja div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

footer {
    background-color: #ffcc00;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    margin-top: auto;
}